<!DOCTYPE html>
<html lang="en">
<header>
    <a href="#" class="home">Home</a>
    <div class="menu-toggle"></div>
    <div class="clearfix"></div>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/style.css">
</header>
<body>
<form method="POST">
    {% csrf_token %}
    <input name="username" placeholder="username">
    <input name="email" placeholder="email">
    <input name="phone" placeholder="phone">
    <form method="post">
        {{ user_form.as_p }}
        {% csrf_token %}
        <button type="submit">
            Register
        </button>
    </form>
</body>
</html>